// main: ../style.scss
$projectCoral1: #f4adaa;
$projectCoral2: #ffcfcd;
$projectCoralText: #b26562;
$projectRose1: #ce2f4a;
$projectRose2: #ec4461;
$projectViolet1: #49479d;
$projectViolet2: #655999;
$projectViolet3: #8479b6;
$black: #000000;
$gray20: #333333;
$gray: #808080;
$gray60: #999999;
$gray70: #b3b3b3;
$gray80: #cccccc;
$gray85: #d9d9d9;
$gray90: #e5e5e5;
$gray91: #e8e8e8;
$gray92: #ebebeb;
$gray93: #ededed;
$gray94: #f0f0f0;
$gray95: #f2f2f2;
$whitesmoke: #f5f5f5;
$white: #ffffff;
